@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto' , sans-serif;
    background: url("img/background.jpg") no-repeat center center fixed;
    background-size: cover;

}

.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}
.modal-content{
    background-color: darkslategrey;
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img{
    height: 100px;
    width: 100px;
    border-radius: 5px ;
    box-shadow: 0px 0px 2px #848484;
}
.form-group{
    margin-bottom: 25px;
}

.form-group::before{

}
.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    padding-left: 54px;
}
.fa-user{
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 10px;
    color: slategray;
}
.fa-lock{
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 10px;
    color: slategray;
}
button{
    width: 40%;
    margin: 5px 0 25px;
}
.btn{
    background-color: darkcyan;
    color: azure;
}



























